version: "3"

services:

  mysql:
    container_name: "meow-mysql"
    image: "mysql:5.7.24"
    volumes:
      - ../database:/var/lib/mysql
    environment: 
      MYSQL_DATABASE: meow
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3306:3306"
    networks:
      - meow-network

  php:
    container_name: "meow-php"
    build: ./build-meow-php
    volumes:
      - ../backend:/app
      - ./php/log:/app-log
      - ./php/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./php/php.ini:/usr/local/etc/php-fpm.d/php.ini
    networks:
      - meow-network
    depends_on:
      - mysql

  nginx:
    container_name: "meow-nginx"
    image: "nginx"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/log:/var/log/nginx
      - ../backend/public/assets:/assets
    ports:
      - "80:80"
    networks:
      - meow-network
    depends_on:
      - php
      - mysql

networks:
  meow-network:
    driver: bridge